* {
    font-family: serif;
    font-size: 17px;
}

body {
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    vertical-align: middle;
}